<section class="hero-section">
    <div class="hero-content">
        <div class="text-content">
            <h1>
                Get Your <br />
                <span class="highlight">Credit Card</span><br />
                It’s <span class="highlight">FREES</span>
            </h1>
            <p>
                Get your Platinum credit card with many benefits free for life. Apply now and get your card.
            </p>
            <button class="signup-button">Sign up</button>
        </div>

        <div class="card-image">
            <img src="assets/eb3.png" alt="Credit Card" />
        </div>
    </div>
</section>
