<div class="dashboard-container">
    <h2>Tableau de Bord Financier</h2>
    
    <div class="alerts-section" *ngIf="alerts.length">
      <h3>Alertes</h3>
      <div class="alert" *ngFor="let alert of alerts">
        {{alert}}
      </div>
    </div>
  
    <div class="charts-container">
      <div class="chart">
        <canvas id="pieChart"></canvas>
      </div>
      <div class="chart">
        <canvas id="barChart"></canvas>
      </div>
      <div class="chart">
        <canvas id="savingsChart"></canvas>
      </div>
    </div>
  </div>