<div class="transactions-container">
    <h2 class="section-title">Transactions</h2>
  
    <table class="transactions-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of transactions">
            <td>{{ t.transactionDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ t.type }}</td>
            <td [class.negative]="t.amount < 0" [class.positive]="t.amount > 0">
                {{ t.amount | currency:'EUR':'symbol':'1.2-2' }}
            </td>
        </tr>
        </tbody>
    </table>
  </div>