<header class="header">
    <h1>Clients</h1>
    
    <div class="header-actions">
        <div class="stat">
            <i class="fas fa-users icon"></i>
            <div class="stat-content">
                <span class="stat-value">{{ clients.length }}</span>
                <small>Total Clients</small>
            </div>
        </div>
        
      
    
    </div>
</header>

<!-- Statistiques -->
<div class="stats">
  

    <!-- Barre de recherche -->
    <div class="search-container">
        <div class="search-input-wrapper">
            <input type="text" placeholder="Rechercher un client..." [(ngModel)]="searchTerm" />
            <i class="fas fa-search search-icon"></i>
        </div>
    </div>
</div>

<!-- Tableau -->
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>ID Client</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Inscription</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of filteredClients">
            <td>{{ client.name }}</td>
            <td>{{ client.id }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.registration }}</td>
        </tr>
        </tbody>
    </table>
</div>